* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

:root {
	--light-scroll: #a8d0e6;
	--dark-scroll: #374785;
}

body {
	background-color: #f8e9a1;
}

*::-moz-selection {
	background-color: #a8d0e6;
	color: black;
}

*::selection {
	background-color: #a8d0e6;
	color: black;
}

::-webkit-scrollbar {
	width: 0;
}

.progressbar {
	--scroll: 0%;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#374785),
		color-stop(0, #a8d0e6)
	);
	background: linear-gradient(
		to bottom,
		var(--dark-scroll) var(--scroll),
		var(--light-scroll) 0
	);
	position: fixed;
	width: 7px;
	height: 100%;
	top: 0px;
	right: 0;
	z-index: 10;
	pointer-events: none;
}

@media (max-width: 900px) {
	.progressbar {
		width: 5px;
	}
}

@media (max-width: 500px) {
	.progressbar {
		width: 4px;
	}
}
